*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    flex-direction: column;
}

#card{
    height: 400px;
    width: 300px;
    background-color: rgb(200, 240, 241);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    position: relative
}

#card img{
    height: 50%;
    width: 100%;
    object-position: center;
    border-radius: 12px;
}

#card h1{
    font-size: 25px;
    margin: 10px 0;
}

#card h5{
    font-size: 30px;
    color: red;
    margin: 20px;
}

#card button{
    background-color: cadetblue;
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

/* Love Shown */

#card i{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.4s;
}

/* Custom cursor */

#main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
    mix-blend-mode: difference;
}

h1{
    font-size: 9vw;
    font-weight: 600;
}